<%- include('layout') -%>
<div class="ks-column ks-page">
	<div class="ks-page-header">
	   <section class="ks-title-and-subtitle">
		  <div class="ks-title-block">
			 <h3 class="ks-main-title">Dashboard</h3>
			 <div class="ks-sub-title">Manage grosshopper from here</div>
		  </div>
		  <button class="btn btn-outline-secondary ks-light ks-no-text ks-tabbed-sidebar-navigation-block-toggle" data-block-toggle=".ks-dashboard-tabbed-sidebar-sidebar">
		  <span class="ks-icon la la-bars"></span>
		  </button>
	   </section>
	</div>
	<div class="ks-page-content">
	   <div class="ks-page-content-body">
		  <div class="ks-dashboard-tabbed-sidebar">
			 <div class="ks-dashboard-tabbed-sidebar-widgets">
				<div class="row">
				   <div class="col-xl-3">
					  <div class="card ks-card-widget ks-widget-payment-total-amount ks-purple-light">
						 <h5 class="card-header">
							Today Users
						 </h5>
						 <div class="card-block">
							<div class="ks-payment-total-amount-item-icon-block">
							   <span class="la la-user ks-icon"></span>
							</div>
							<div class="ks-payment-total-amount-item-body">
							   <div class="ks-payment-total-amount-item-amount">
								  <span class="ks-amount">10</span>
							   </div>
							   <div class="ks-payment-total-amount-item-description">
								  Today status
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				   <div class="col-xl-3">
					  <div class="card ks-card-widget ks-widget-payment-total-amount ks-green-light">
						 <h5 class="card-header">
							Today Projects
						 </h5>
						 <div class="card-block">
							<div class="ks-payment-total-amount-item-icon-block">
							   <span class="ks-icon la la-flask"></span>
							</div>
							<div class="ks-payment-total-amount-item-body">
							   <div class="ks-payment-total-amount-item-amount">
								  <span class="ks-amount">10</span>
							   </div>
							   <div class="ks-payment-total-amount-item-description">
								  Today status
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				   <div class="col-xl-3">
					  <div class="card ks-card-widget ks-widget-payment-total-amount ks-pink-light">
						 <h5 class="card-header">
							Total Users
						 </h5>
						 <div class="card-block">
							<div class="ks-payment-total-amount-item-icon-block">
							   <span class="la la-users ks-icon"></span>
							</div>
							<div class="ks-payment-total-amount-item-body">
							   <div class="ks-payment-total-amount-item-amount">
								  <span class="ks-amount">10</span>
							   </div>
							   <div class="ks-payment-total-amount-item-description">
								  Today status
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				   <div class="col-xl-3">
					  <div class="card ks-card-widget ks-widget-payment-total-amount ks-orange-light">
						 <h5 class="card-header">
							Total Projects
						 </h5>
						 <div class="card-block">
							<div class="ks-payment-total-amount-item-icon-block">
							   <span class="la la-flask ks-icon"></span>
							</div>
							<div class="ks-payment-total-amount-item-body">
							   <div class="ks-payment-total-amount-item-amount">
								  <span class="ks-amount">10</span>
							   </div>
							   <div class="ks-payment-total-amount-item-description">
								  Today status
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
				
				<div class="row">
				   <div class="col-xl-3">
					  <div class="card ks-card-widget ks-widget-payment-total-amount ks-purple-light">
						 <h5 class="card-header">
							Total Industries
						 </h5>
						 <div class="card-block">
							<div class="ks-payment-total-amount-item-icon-block">
							   <span class="la la-tree ks-icon"></span>
							</div>
							<div class="ks-payment-total-amount-item-body">
							   <div class="ks-payment-total-amount-item-amount">
								  <span class="ks-amount">0</span>
							   </div>
							   <div class="ks-payment-total-amount-item-description">
								  Today status
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				   <div class="col-xl-3">
					  <div class="card ks-card-widget ks-widget-payment-total-amount ks-green-light">
						 <h5 class="card-header">
							Total Category
						 </h5>
						 <div class="card-block">
							<div class="ks-payment-total-amount-item-icon-block">
							   <span class="ks-icon la la-list"></span>
							</div>
							<div class="ks-payment-total-amount-item-body">
							   <div class="ks-payment-total-amount-item-amount">
								  <span class="ks-amount">0</span>
							   </div>
							   <div class="ks-payment-total-amount-item-description">
								  Today status
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				   <div class="col-xl-3">
					  <div class="card ks-card-widget ks-widget-payment-total-amount ks-pink-light">
						 <h5 class="card-header">
							Total Skills
						 </h5>
						 <div class="card-block">
							<div class="ks-payment-total-amount-item-icon-block">
							   <span class="la la-book ks-icon"></span>
							</div>
							<div class="ks-payment-total-amount-item-body">
							   <div class="ks-payment-total-amount-item-amount">
								  <span class="ks-amount">0</span>
							   </div>
							   <div class="ks-payment-total-amount-item-description">
								  Today status
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				   <div class="col-xl-3">
					  <div class="card ks-card-widget ks-widget-payment-total-amount ks-orange-light">
						 <h5 class="card-header">
							Today Messages
						 </h5>
						 <div class="card-block">
							<div class="ks-payment-total-amount-item-icon-block">
							   <span class="la la-envelope ks-icon"></span>
							</div>
							<div class="ks-payment-total-amount-item-body">
							   <div class="ks-payment-total-amount-item-amount">
								  <span class="ks-amount">0</span>
							   </div>
							   <div class="ks-payment-total-amount-item-description">
								  Today status
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
				
				<div class="row">
				   <div class="col-lg-4">
					  <div class="card ks-card-widget ks-widget-messages-inbox">
						 <h5 class="card-header">
							Inbox
							<div class="ks-controls">
							   <a href="admin/messages/list" class="ks-control-link">View All</a>
							</div>
						 </h5>
						 <div class="card-block">
							<div class="ks-widget-messages-inbox-items">
							   <a href="#" class="ks-widget-messages-inbox-item">
								  <div class="ks-widget-messages-inbox-item-avatar ks-avatar ks-online">
									 <img src="admin/assets/img/avatars/avatar-6.jpg" width="36" height="36">
								  </div>
								  <div class="ks-widget-messages-inbox-item-body">
									 <div class="ks-widget-messages-inbox-item-body-name-and-time">
										<span class="ks-name">Konstantin Berezhski</span>
										<span class="ks-time">12:55 pm</span>
									 </div>
									 <p class="ks-widget-messages-inbox-item-body-message">
										This isn't just about you...
										</p>
								  </div>
							   </a>
							   <a href="#" class="ks-widget-messages-inbox-item">
								  <div class="ks-widget-messages-inbox-item-avatar ks-avatar ks-online">
									 <img src="admin/assets/img/avatars/avatar-4.jpg" width="36" height="36">
								  </div>
								  <div class="ks-widget-messages-inbox-item-body">
									 <div class="ks-widget-messages-inbox-item-body-name-and-time">
										<span class="ks-name">Konstantin Berezhski</span>
										<span class="ks-time">12:55 pm</span>
									 </div>
									 <p class="ks-widget-messages-inbox-item-body-message">
										This isn't just about you...
									 </p>
								  </div>
							   </a>
							   <a href="#" class="ks-widget-messages-inbox-item">
								  <div class="ks-widget-messages-inbox-item-avatar ks-avatar ks-offline">
									 <img src="admin/assets/img/avatars/avatar-2.jpg" width="36" height="36">
								  </div>
								  <div class="ks-widget-messages-inbox-item-body">
									 <div class="ks-widget-messages-inbox-item-body-name-and-time">
										<span class="ks-name">Konstantin Berezhski</span>
										<span class="ks-time">12:55 pm</span>
									 </div>
									 <p class="ks-widget-messages-inbox-item-body-message">
										This isn't just about you...
									 </p>
								  </div>
							   </a>
							   <a href="#" class="ks-widget-messages-inbox-item">
								  <div class="ks-widget-messages-inbox-item-avatar ks-avatar ks-online">
									 <img src="admin/assets/img/avatars/avatar-13.jpg" width="36" height="36">
								  </div>
								  <div class="ks-widget-messages-inbox-item-body">
									 <div class="ks-widget-messages-inbox-item-body-name-and-time">
										<span class="ks-name">Konstantin Berezhski</span>
										<span class="ks-time">12:55 pm</span>
									 </div>
									 <p class="ks-widget-messages-inbox-item-body-message">
										This isn't just about you. It's about wha...
									 </p>
								  </div>
							   </a>
							</div>
						 </div>
					  </div>
				   </div>
				   <div class="col-lg-8">
					  <div class="card ks-card-widget ks-widget-table">
						 <h5 class="card-header">
							Recent Users
							<div class="ks-controls">
							   <a href="admin/users/list" class="ks-control-link">View All</a>
							</div>
						 </h5>
						 <div class="card-block">
							<table class="table ks-payment-table-invoicing">
							   <tr>
								  <th></th>
								  <th>User Name</th>
								  <th>Email</th>
								  <th>Date</th>
							   </tr>
							  
							   <tr>
								  <td>
								  <a href="#" title="View Detail">
									 <img src="admin/images/happy.png" class="thumb-sm img-circle" alt="FNAME">
								  </a>
								  </td>
								  <td><a href="#" title="View Detail">
									  <h5 class="m-0 capitalize">John Day</h5>
									  <p class="m-0 text-muted font-13 capitalize"><small>NA</small></p>
									  </a></td>
								  <td>john@gmail.com</td>
								  <td>Aug, 28 2019</td>
							   </tr>							  
							</table>
						 </div>
					  </div>
				   </div>
				</div>
				
			 </div>
			 <div class="ks-dashboard-tabbed-sidebar-sidebar">
				<div class="ks-tabs-container ks-tabs-default ks-tabs-with-separator ks-tabs-header-default ks-tabs-info">
				   <ul class="nav ks-nav-tabs">
					  <li class="nav-item">
						 <a class="nav-link active" href="#" data-toggle="tab" data-target="#tabbed-sidebar-activity">
						 <span class="ks-icon la la-flash">
						 <span class="ks-amount">3</span>
						 </span>
						 </a>
					  </li>
					  <li class="nav-item">
						 <a class="nav-link" href="#" data-toggle="tab" data-target="#tabbed-sidebar-comments">
						 <span class="ks-icon la la-comments">
						 <span class="ks-amount">1</span>
						 </span>
						 </a>
					  </li>
					  <li class="nav-item">
						 <a class="nav-link" href="#" data-toggle="tab" data-target="#tabbed-sidebar-posts">
						 <span class="ks-icon la la-book">
						 <span class="ks-amount">6</span>
						 </span>
						 </a>
					  </li>
					  <li class="nav-item">
						 <a class="nav-link" href="#" data-toggle="tab" data-target="#tabbed-sidebar-favourites">
						 <span class="ks-icon la la-star-o">
						 <span class="ks-amount">4</span>
						 </span>
						 </a>
					  </li>
				   </ul>
				   <div class="tab-content">
					  <div class="tab-pane active" id="tabbed-sidebar-activity" role="tabpanel">
						 <div class="tab-pane-content">
							<div class="ks-tabbed-sidebar-activity">
							   <div class="ks-tabbed-sidebar-tab-content-header">
								  <h5>Activity</h5>
								  <div class="input-icon icon-right icon icon-lg icon-color-primary">
									 <input id="input-group-icon-text" type="text" class="form-control" placeholder="Search">
									 <span class="icon-addon">
									 <span class="la la-search"></span>
									 </span>
								  </div>
							   </div>
							   <div class="ks-tabbed-sidebar-activity-items ks-scrollable" data-auto-height>
								  <div class="ks-tabbed-sidebar-activity-item ks-activity-item-status-active">
									 <div class="ks-action-wrapper">
										<img src="admin/assets/img/avatars/avatar-6.jpg" alt="" class="ks-avatar rounded-circle" width="25" height="25">
										<a href="#" class="ks-action-message">Hi, What you think about new deal</a>
									 </div>
									 <span class="badge badge-primary ks-sm">New</span>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item ks-activity-item-status-active">
									 <div class="ks-action-wrapper">
										<img src="admin/assets/img/avatars/avatar-11.jpg" alt="" class="ks-avatar rounded-circle" width="25" height="25">
										<a href="#" class="ks-action-message">Hi, What you think about new deal</a>
									 </div>
									 <span class="badge badge-success ks-sm">Completed</span>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item ks-activity-item-status-active">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-star ks-color-warning ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">GOOG:US, 300 @ 145.32 opportunity</a>
									 </div>
									 <span class="badge badge-danger ks-sm">Canceled</span>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-check ks-color-success ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">Filled — Forson Inc. — 300 — $5,600</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-check ks-color-success ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">Filled — Marta Skyson — 2000 — $34,600</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<img src="admin/assets/img/avatars/avatar-5.jpg" alt="" class="ks-avatar rounded-circle" width="25" height="25">
										<a href="#" class="ks-action-message">Hi, What you think about new deal</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-flash ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">Gold (-1,22%), estimated 3% loss</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-star ks-color-warning ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">Samsung Note 7 Users Urged to Turn Phone</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-plus-circle ks-color-info ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">New — Shell Inc. — 120 — $5600</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<img src="admin/assets/img/avatars/avatar-2.jpg" alt="" class="ks-avatar rounded-circle" width="25" height="25">
										<a href="#" class="ks-action-message">Hi Konstantin, Sent you quarter report</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-star ks-color-pink ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">Asset Reporting Lored</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-archive ks-color-gray ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">Gold (-1,22%), estimated 3% loss</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-calendar ks-color-info ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">Gold (-1,22%), estimated 3% loss</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-plus-circle ks-color-info ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">New — Shell Inc. — 120 — $5600</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<img src="admin/assets/img/avatars/avatar-3.jpg" alt="" class="ks-avatar rounded-circle" width="25" height="25">
										<a href="#" class="ks-action-message">Hi Konstantin, Sent you quarter report</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-star ks-color-pink ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">Asset Reporting Lored</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-archive ks-color-gray ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">Gold (-1,22%), estimated 3% loss</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-calendar ks-color-info ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">Gold (-1,22%), estimated 3% loss</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-plus-circle ks-color-success ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">New — Shell Inc. — 120 — $5600</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<img src="admin/assets/img/avatars/avatar-8.jpg" alt="" class="ks-avatar rounded-circle" width="25" height="25">
										<a href="#" class="ks-action-message">Hi Konstantin, Sent you quarter report</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-bookmark-o ks-color-danger ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">Asset Reporting Lored</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-archive ks-color-gray ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">Gold (-1,22%), estimated 3% loss</a>
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-activity-item">
									 <div class="ks-action-wrapper">
										<span class="ks-action-icon">
										<span class="la la-calendar ks-color-info ks-icon"></span>
										</span>
										<a href="#" class="ks-action-message">Gold (-1,22%), estimated 3% loss</a>
									 </div>
								  </div>
							   </div>
							</div>
						 </div>
					  </div>
					  <div class="tab-pane" id="tabbed-sidebar-comments" role="tabpanel">
						 <div class="tab-pane-content">
							<div class="ks-tabbed-sidebar-comments">
							   <div class="ks-tabbed-sidebar-tab-content-header">
								  <h5>Comments</h5>
								  <div class="input-icon icon-right icon icon-lg icon-color-primary">
									 <input type="text" class="form-control" placeholder="Search">
									 <span class="icon-addon">
									 <span class="la la-search"></span>
									 </span>
								  </div>
							   </div>
							   <div class="ks-tabbed-sidebar-comment-items ks-scrollable" data-auto-height>
								  <div class="ks-tabbed-sidebar-comment-item">
									 <div class="ks-tabbed-sidebar-comment-action">
										<img src="admin/assets/img/avatars/avatar-3.jpg" class="ks-avatar" width="25" height="25">
										<div class="ks-action">
										   <a href="#" class="ks-name">Matthew Arnold</a>
										   <span class="ks-description">added a new task to the project <a href="#" class="ks-color-info">Website redesign</a></span>
										   <div class="ks-datetime">
											  September 18, 2016 at 12:38 PM
										   </div>
										</div>
									 </div>
									 <div class="ks-tabbed-sidebar-comment-item-message">
										Perhaps you'll take me out one day - or do I have to make an appointment?
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-comment-item">
									 <div class="ks-tabbed-sidebar-comment-action">
										<img src="admin/assets/img/avatars/avatar-4.jpg" class="ks-avatar" width="25" height="25">
										<div class="ks-action">
										   <a href="#" class="ks-name">Rachel Matthews</a>
										   <span class="ks-description">leave a comment <a href="#" class="ks-color-info">Lake Hall Beer and Pizza</a></span>
										   <div class="ks-datetime">
											  September 26, 2016 at 19:25 PM
										   </div>
										</div>
									 </div>
									 <div class="ks-tabbed-sidebar-comment-item-message">
										It had to end sometime. Apple’s incredible growth that saw the company report record quarterly earnings over a span of 13 years was untenable.
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-comment-item">
									 <div class="ks-tabbed-sidebar-comment-action">
										<img src="admin/assets/img/avatars/avatar-10.jpg" class="ks-avatar" width="25" height="25">
										<div class="ks-action">
										   <a href="#" class="ks-name">Marilyn Fox</a>
										   <span class="ks-description">leave a comment <a href="#" class="ks-color-info">Sample Post</a></span>
										   <div class="ks-datetime">
											  September 17, 2016 at 11:00 PM
										   </div>
										</div>
									 </div>
									 <div class="ks-tabbed-sidebar-comment-item-message">
										Perhaps you'll take me out one day - or do I have to make an appointment?
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-comment-item">
									 <div class="ks-tabbed-sidebar-comment-action">
										<img src="admin/assets/img/avatars/avatar-3.jpg" class="ks-avatar" width="25" height="25">
										<div class="ks-action">
										   <a href="#" class="ks-name">Matthew Arnold</a>
										   <span class="ks-description">added a new task to the project <a href="#" class="ks-color-info">Website redesign</a></span>
										   <div class="ks-datetime">
											  September 18, 2016 at 12:38 PM
										   </div>
										</div>
									 </div>
									 <div class="ks-tabbed-sidebar-comment-item-message">
										Perhaps you'll take me out one day - or do I have to make an appointment?
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-comment-item">
									 <div class="ks-tabbed-sidebar-comment-action">
										<img src="admin/assets/img/avatars/avatar-3.jpg" class="ks-avatar" width="25" height="25">
										<div class="ks-action">
										   <a href="#" class="ks-name">Matthew Arnold</a>
										   <span class="ks-description">added a new task to the project <a href="#" class="ks-color-info">Website redesign</a></span>
										   <div class="ks-datetime">
											  September 18, 2016 at 12:38 PM
										   </div>
										</div>
									 </div>
									 <div class="ks-tabbed-sidebar-comment-item-message">
										Perhaps you'll take me out one day - or do I have to make an appointment?
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-comment-item">
									 <div class="ks-tabbed-sidebar-comment-action">
										<img src="admin/assets/img/avatars/avatar-3.jpg" class="ks-avatar" width="25" height="25">
										<div class="ks-action">
										   <a href="#" class="ks-name">Matthew Arnold</a>
										   <span class="ks-description">added a new task to the project <a href="#" class="ks-color-info">Website redesign</a></span>
										   <div class="ks-datetime">
											  September 18, 2016 at 12:38 PM
										   </div>
										</div>
									 </div>
									 <div class="ks-tabbed-sidebar-comment-item-message">
										Perhaps you'll take me out one day - or do I have to make an appointment?
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-comment-item">
									 <div class="ks-tabbed-sidebar-comment-action">
										<img src="admin/assets/img/avatars/avatar-3.jpg" class="ks-avatar" width="25" height="25">
										<div class="ks-action">
										   <a href="#" class="ks-name">Matthew Arnold</a>
										   <span class="ks-description">added a new task to the project <a href="#" class="ks-color-info">Website redesign</a></span>
										   <div class="ks-datetime">
											  September 18, 2016 at 12:38 PM
										   </div>
										</div>
									 </div>
									 <div class="ks-tabbed-sidebar-comment-item-message">
										Perhaps you'll take me out one day - or do I have to make an appointment?
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-comment-item">
									 <div class="ks-tabbed-sidebar-comment-action">
										<img src="admin/assets/img/avatars/avatar-3.jpg" class="ks-avatar" width="25" height="25">
										<div class="ks-action">
										   <a href="#" class="ks-name">Matthew Arnold</a>
										   <span class="ks-description">added a new task to the project <a href="#" class="ks-color-info">Website redesign</a></span>
										   <div class="ks-datetime">
											  September 18, 2016 at 12:38 PM
										   </div>
										</div>
									 </div>
									 <div class="ks-tabbed-sidebar-comment-item-message">
										Perhaps you'll take me out one day - or do I have to make an appointment?
									 </div>
								  </div>
								  <div class="ks-tabbed-sidebar-comment-item">
									 <div class="ks-tabbed-sidebar-comment-action">
										<img src="admin/assets/img/avatars/avatar-3.jpg" class="ks-avatar" width="25" height="25">
										<div class="ks-action">
										   <a href="#" class="ks-name">Matthew Arnold</a>
										   <span class="ks-description">added a new task to the project <a href="#" class="ks-color-info">Website redesign</a></span>
										   <div class="ks-datetime">
											  September 18, 2016 at 12:38 PM
										   </div>
										</div>
									 </div>
									 <div class="ks-tabbed-sidebar-comment-item-message">
										Perhaps you'll take me out one day - or do I have to make an appointment?
									 </div>
								  </div>
							   </div>
							</div>
						 </div>
					  </div>
					  <div class="tab-pane" id="tabbed-sidebar-posts" role="tabpanel">
						 <div class="tab-pane-content">
							<div class="ks-tabbed-sidebar-posts">
							   <div class="ks-tabbed-sidebar-tab-content-header">
								  <h5>Posts</h5>
								  <div class="input-icon icon-right icon icon-lg icon-color-primary">
									 <input type="text" class="form-control" placeholder="Search">
									 <span class="icon-addon">
									 <span class="la la-search"></span>
									 </span>
								  </div>
							   </div>
							   <div class="ks-tabbed-sidebar-post-items ks-scrollable" data-auto-height>
								  <a href="#" class="ks-tabbed-sidebar-post-item">
								  <img src="admin/assets/img/thumbs/ph-1.png" alt="" class="ks-thumb" width="36" height="36">
								  <span href="#" class="ks-description">
								  <span class="ks-name">Road trip essentials</span>
								  <span class="ks-extra-info">
								  <span class="ks-amount-block">1200 views</span>
								  <span class="ks-amount-block">34 comments</span>
								  </span>
								  </span>
								  </a>
								  <a href="#" class="ks-tabbed-sidebar-post-item">
								  <img src="admin/assets/img/thumbs/ph-2.png" alt="" class="ks-thumb" width="36" height="36">
								  <span href="#" class="ks-description">
								  <span class="ks-name">Road trip essentials</span>
								  <span class="ks-extra-info">
								  <span class="ks-amount-block">1200 views</span>
								  <span class="ks-amount-block">34 comments</span>
								  </span>
								  </span>
								  </a>
								  <a href="#" class="ks-tabbed-sidebar-post-item">
								  <img src="admin/assets/img/thumbs/ph-3.png" alt="" class="ks-thumb" width="36" height="36">
								  <span href="#" class="ks-description">
								  <span class="ks-name">Road trip essentials</span>
								  <span class="ks-extra-info">
								  <span class="ks-amount-block">1200 views</span>
								  <span class="ks-amount-block">34 comments</span>
								  </span>
								  </span>
								  </a>
								  <a href="#" class="ks-tabbed-sidebar-post-item">
								  <img src="admin/assets/img/thumbs/ph-4.png" alt="" class="ks-thumb" width="36" height="36">
								  <span href="#" class="ks-description">
								  <span class="ks-name">Road trip essentials</span>
								  <span class="ks-extra-info">
								  <span class="ks-amount-block">1200 views</span>
								  <span class="ks-amount-block">34 comments</span>
								  </span>
								  </span>
								  </a>
								  <a href="#" class="ks-tabbed-sidebar-post-item">
								  <img src="admin/assets/img/thumbs/ph-5.png" alt="" class="ks-thumb" width="36" height="36">
								  <span href="#" class="ks-description">
								  <span class="ks-name">Road trip essentials</span>
								  <span class="ks-extra-info">
								  <span class="ks-amount-block">1200 views</span>
								  <span class="ks-amount-block">34 comments</span>
								  </span>
								  </span>
								  </a>
								  <a href="#" class="ks-tabbed-sidebar-post-item">
								  <img src="admin/assets/img/thumbs/ph-1.png" alt="" class="ks-thumb" width="36" height="36">
								  <span href="#" class="ks-description">
								  <span class="ks-name">Road trip essentials</span>
								  <span class="ks-extra-info">
								  <span class="ks-amount-block">1200 views</span>
								  <span class="ks-amount-block">34 comments</span>
								  </span>
								  </span>
								  </a>
								  <a href="#" class="ks-tabbed-sidebar-post-item">
								  <img src="admin/assets/img/thumbs/ph-1.png" alt="" class="ks-thumb" width="36" height="36">
								  <span href="#" class="ks-description">
								  <span class="ks-name">Road trip essentials</span>
								  <span class="ks-extra-info">
								  <span class="ks-amount-block">1200 views</span>
								  <span class="ks-amount-block">34 comments</span>
								  </span>
								  </span>
								  </a>
								  <a href="#" class="ks-tabbed-sidebar-post-item">
								  <img src="admin/assets/img/thumbs/ph-1.png" alt="" class="ks-thumb" width="36" height="36">
								  <span href="#" class="ks-description">
								  <span class="ks-name">Road trip essentials</span>
								  <span class="ks-extra-info">
								  <span class="ks-amount-block">1200 views</span>
								  <span class="ks-amount-block">34 comments</span>
								  </span>
								  </span>
								  </a>
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
			 </div>
		  </div>
	   </div>
	</div>
 </div>
