<div class="ks-column ks-sidebar ks-info ">
	<div class="ks-wrapper ks-sidebar-wrapper">
		<div class="slimscrollleft">
		   <ul class="nav nav-pills nav-stacked">
			  <li class="nav-item dropdown">
				 <a class="nav-link" href="/admin/dashboard">
				 <span class="ks-icon la la-dashboard"></span>
				 <span>Dashboard</span>
				 </a>
			  </li>
			  <li class="nav-item dropdown">
				 <a class="nav-link dropdown-toggle pointer" role="button" aria-haspopup="true" aria-expanded="false">
				 <span class="ks-icon la la-user"></span>
				 <span>Employer Type</span>
				 </a>
				 <div class="dropdown-menu">
					<a class="dropdown-item" href="/admin/usertype/list">Employer Type</a>
					<a class="dropdown-item" href="/admin/usertype/add">Add Employer Type</a>
				 </div>
			  </li>
			  <li class="nav-item dropdown">
				 <a class="nav-link dropdown-toggle pointer" role="button" aria-haspopup="true" aria-expanded="false">
				 <span class="ks-icon la la-cubes"></span>
				 <span>Manage Industries</span>
				 </a>
				 <div class="dropdown-menu">
					<a class="dropdown-item" href="/admin/industries/list">List Industries</a>
					<a class="dropdown-item" href="/admin/industries/add">Add Industry</a>
					<a class="dropdown-item" href="/admin/categories/list">List Categories</a>
					<a class="dropdown-item" href="/admin/categories/add">Add Category</a>
				 </div>
			  </li>
			  
			  <li class="nav-item dropdown">
				 <a class="nav-link dropdown-toggle pointer" role="button" aria-haspopup="true" aria-expanded="false">
				 <span class="ks-icon la la-flask"></span>
				 <span>Manage Skills</span>
				 </a>
				 <div class="dropdown-menu">
					<a class="dropdown-item" href="/admin/skills/list">List Skills</a>
					<a class="dropdown-item" href="/admin/skills/add">Add Skill</a>
				 </div>
			  </li>
			  
			  <li class="nav-item dropdown">
				 <a class="nav-link dropdown-toggle pointer" role="button" aria-haspopup="true" aria-expanded="false">
				 <span class="ks-icon la la-users"></span>
				 <span>Manage Users</span>
				 </a>
				 <div class="dropdown-menu">
					<a class="dropdown-item" href="/admin/users/list">List Users</a>
				 </div>
				 <div class="dropdown-menu">
					<a class="dropdown-item" href="/admin/project/list">List Projects</a>
				 </div>
			  </li>
			  
			  <li class="nav-item dropdown">
				 <a class="nav-link dropdown-toggle pointer" role="button" aria-haspopup="true" aria-expanded="false">
				 <span class="ks-icon la la-envelope"></span>
				 <span>Manage Inbox</span>
				 </a>
				 <div class="dropdown-menu">
					<a class="dropdown-item" href="/admin/messages/list">List Messages</a>
				 </div>
				 <div class="dropdown-menu">
					<a class="dropdown-item" href="/admin/messages/create">Create Message</a>
				 </div>
			  </li>
			  
			  <li class="nav-item dropdown">
				 <a class="nav-link dropdown-toggle pointer" role="button" aria-haspopup="true" aria-expanded="false">
				 <span class="ks-icon la la-list"></span>
				 <span>Manage CMS</span>
				 </a>
				 <div class="dropdown-menu">
					<a class="dropdown-item" href="/admin/cms/list">List CMS</a>
					<a class="dropdown-item" href="/admin/cms/add">Add CMS</a>
				 </div>
			  </li>
			  
			  <li class="nav-item dropdown">
				 <a class="nav-link dropdown-toggle pointer" role="button" aria-haspopup="true" aria-expanded="false">
				 <span class="ks-icon la la-tree"></span>
				 <span>Manage Templates</span>
				 </a>
				 <div class="dropdown-menu">
					<a class="dropdown-item" href="/admin/templates/list">List Templates</a>
					<a class="dropdown-item" href="/admin/templates/add">Add Template</a>
				 </div>
			  </li>
			  
			  <li class="nav-item dropdown">
				 <a class="nav-link dropdown-toggle pointer" role="button" aria-haspopup="true" aria-expanded="false">
				 <span class="ks-icon la la-question"></span>
				 <span>Manage FAQ</span>
				 </a>
				 <div class="dropdown-menu">
					<a class="dropdown-item" href="/admin/faq/list">List FAQ</a>
					<a class="dropdown-item" href="/admin/faq/add">Add FAQ</a>
				 </div>
			  </li>
			  
			  <li class="nav-item dropdown">
				 <a class="nav-link border-bottom-0" href="/admin/logout">
				 <span class="ks-icon la la-sign-out"></span>
				 <span>Logout</span>
				 </a>
			  </li>
			 
		   </ul>
		</div>
	</div>
 </div>