.message-error{margin: 0px auto;
    max-width: 600px;
    background: #ec644b;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    width: 27%;
	margin-bottom: 20px;}
.message-error table{font-size:0px;width:100%;background:#ec644b;}
.message-error td{text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;}
.message-error div{cursor:auto;color:#fff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:8px;text-align:center;}

.message-success{margin: 0px auto;
    max-width: 600px;
    background: #4caf50;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    width: 27%;
	margin-bottom: 20px;}
.message-success table{font-size:0px;width:100%;background:#4caf50;}
.message-success td{text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;}
.message-success div{cursor:auto;color:#fff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:8px;text-align:center;}
.pointer{cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

form .error{color:red;}
#add_form #tags{height:auto;}
#add_form #tags input{width:100%;height: 38px;
    border: 4px solid #25628f;
    border-radius: 4px;
    padding-left: 9px;}
	#tags span{background: #80808094;
    padding: 8px;
    margin-bottom: 9px;
    padding-bottom: 8px;
    color: #fff;
    border-radius: 2px;
    width: auto;    margin-right: 4px;}
	
	.ks-navbar-menu span:hover{background: none !important;}
	.slimScrollBar{background:#1b1e21!important !important;color:#1b1e21!important !important;display:none;}
	.slimscrollleft{width:257px !important;}
	
	.skill-search,.search-form{margin-top: -14px;
    margin-bottom: 15px;}	
	.search-form .btn,.skill-search .btn{  cursor: pointer;
    margin-top: 8px;
    margin-left: 8px;}
	.search-form #keyword,.skill-search #keyword{margin-left:10px;}
	.search-form #location{margin-left:5px;}
	.search-form #keyword{width:27%;}
	.project-row .ks-project-body,#projects .ks-project-body{padding:10px;}
	.mb-10{margin-bottom:10px;}
	.search-project #category{margin-left: 12px;
    margin-right: 5px;}	
	.search-project .btn{margin-right: 4px;}
	.search-project #skill{width:243px;}
	.project-row .mb-10{margin-bottom:20px;}
	
	.thumb-sm.img-circle{height: 50px;width: 50px;border-radius: 100%;}